 .textanimate {
    position: relative;
    width: 315px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    overflow:hidden;
    
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    line-height: 42px;
}

.textanimate__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 35px;
}
    
.textanimate__container__text {
    margin: 0;
    color: #5789B6;
}
  
.textanimate__container__list {
    margin-top: 0;
    padding-left: 90px !important;
    text-align: left;
    list-style: none;
    color: #E27958;

    -webkit-animation: change 10s infinite; /* Safari 4+ */
    -moz-animation:    change 10s infinite; /* Fx 5+ */
    -o-animation:      change 10s infinite; /* Opera 12+ */
    animation:         change 10s infinite; /* IE 10+, Fx 29+ */
}
  
@-webkit-keyframes change {
    0%, 21%, 100%   {transform:translate3d(0,-33%,0);}
    25%, 46%        {transform:translate3d(0,-67%,0);}
    50%, 71%        {transform:translate3d(0,-100%,0);}
    75%, 96%        {transform:translate3d(0,-67%,0);}
}
  
@-o-keyframes change {
    0%, 21%, 100%   {transform:translate3d(0,-33%,0);}
    25%, 46%        {transform:translate3d(0,-67%,0);}
    50%, 71%        {transform:translate3d(0,-100%,0);}
    75%, 96%        {transform:translate3d(0,-67%,0);}
}

@-moz-keyframes change {
    0%, 21%, 100%   {transform:translate3d(0,-33%,0);}
    25%, 46%        {transform:translate3d(0,-67%,0);}
    50%, 71%        {transform:translate3d(0,-100%,0);}
    75%, 96%        {transform:translate3d(0,-67%,0);}
}

@keyframes change {
    0%, 21%, 100%   {transform:translate3d(0,-33%,0);}
    25%, 46%        {transform:translate3d(0,-67%,0);}
    50%, 71%        {transform:translate3d(0,-100%,0);}
    75%, 96%        {transform:translate3d(0,-67%,0);}
}

.header-direction {
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;

    -webkit-animation: blink 7s infinite; /* Safari 4+ */
    -moz-animation:    blink 7s infinite; /* Fx 5+ */
    -o-animation:      blink 7s infinite; /* Opera 12+ */
    animation:         blink 7s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blink {
  0%, 100%   { opacity: 1; }
  50% { opacity: 0; }
}
@-moz-keyframes blink {
  0%, 100%   { opacity: 1; }
  50% { opacity: 0; }
}
@-o-keyframes blink {
  0%, 100%   { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes blink {
  0%, 100%   { opacity: 1; }
  50% { opacity: 0; }
}