body{
    font-family: 'Montserrat', sans-serif !important;
    font-size:100%;
    margin: 0;
    overflow-x: hidden;
}

table {
    border-collapse: unset !important;
}

.container {
    padding-top: 3%;
    padding-bottom: 3%;
    border-top: 1px solid #94618E;
}

.custom-sidenav {
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    position: fixed;
    z-index: 100;
}

.custom-sidenav a {
    text-decoration: none;
    color: black;
}

.custom-sidenav .item .material-icons {
    padding: 2px;
}

.custom-sidenav ul li {
    margin: 15px 5px;
    list-style-type: none;
    text-align: right;
}

.custom-sidenav ul li a:hover:not(.active) .show {
    display: inline-block;
}

.custom-sidenav ul li .show {
    display: none;
}

#header {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    background-color: #94618E;
}

.title {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 5em;
    font-weight: 600;
}

.seperator {
    margin: 5px !important  ;
}

.subtitle {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
}

.subheader {
    font-weight: 500;
    font-size: 2em;
    color: #49274A;
}

.subheader::first-letter {
    font-weight: 600;
    font-size: 2.1em;
}

.content {
    font-weight: 300;
}

.sidepic {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill {
    width: 100%;
}

.skill td, th {
    width: 50%;
    text-align: left;
    padding: 8px;
}

.collection {
    border: 0 !important;
}

.collection-item {
    padding: 30px 0 30px 72px !important;
}

.company-image {
    display: flex;
    align-items: center;
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    vertical-align: middle;
}

.job-description {
    margin-top: 10px !important;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-is;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
}

.social_media_links {
    list-style: none;
}

.social_media_links a {
    color: inherit;
    text-decoration: none;
}

.social_media_links a:hover {
    color: #49274A;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 995px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .custom-sidenav {
        display: none;
    }

    body {
        font-size:115%;
    }

    .row {
        width: 100%;
        margin: 0px;
    }

    .projectimage {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 700px) {

    .sidepic {
        width: 0px;
        display: none;
    }

    .col-4 {
        width: 100%;
    }

    .col-2 {
        width: 100%;
    }

    .project {
        width: 100%;
    }

    .projectimage {
        width: 60%;
    }

    .project_sep {
        display: none;
    }

    .project_row {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    body {
        font-size:115%;
    }

    .title {
        font-size: 3em;
    }

    .subtitle {
        font-size: 0.78em;
    }
    
    .subheader {
        /* font-weight: 500; */
        font-size: 1.8em;
        color: #49274A;
    }
    
    .subheader::first-letter {
        font-weight: 600;
        font-size: 1.9em;
    }
}