@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 600px;

  background-color: var(--bg-color);

  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  color: var(--text-color);
}

header {
  padding-top: 50px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section {
  margin-bottom: 150px;
}

footer {
  font-size: 1em;
  color: var(--subtext-color)
}

h1, h2 {
  margin: 0;  
  font-size: 1.2em;
  font-weight: normal;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.header-title {
  color: var(--highlight-color);
}

.header-subtitle {
  color: var(--subtext-color);
}

.dark-mode-toggle-wrapper {
  display: none;
  flex-direction: row;
  color: var(--icon-color);
}

.dark-mode-toggle-wrapper > :first-child {
  margin-right: 5px;
}

.dark-mode-toggle-wrapper > :last-child {
  margin-left: 5px;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact > *:first-child {
  margin-right: 24px;
}

.contact-list {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  list-style-type: none;
}

.contact-item {
  display: inline-block;
  margin-right: 12px;

  font-size: 1.5em;
  color: var(--icon-color);
}

.contact-item :hover {
  color: var(--highlight-color);
}

.section-header {
  position: relative;
  margin-bottom: 30px;
}

.section-header::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  width: 30px;
  height: 3px;
  background-color: var(--highlight-color);
}

.timeline {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.timeline::before {
  position: absolute;
  content: "";
  top: 0;
  left: 15px;
  bottom: 0;
  border-left: 1px solid var(--subtext-color);
}

.timeline-item {
  position: relative;
}

.timeline-item::before {
  position: absolute;
  top: 9px;
  left: -29px;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background-color: var(--subtext-color);
  box-shadow: 0px 0px 2px 5px var(--bg-color);
}

.work-list, .project-list {
  list-style-type: none;
}

.work-list > li, .project-list > li {
  margin-bottom: 20px;
}

.work-list > li p, .project-list > li p {
  margin: 0;
}

.work-date {
  color: var(--subtext-color);
}

.company-name {
  color: var(--highlight-color);
}

.project-list {
  padding: 0;
}

.project-list > li {
  margin-bottom: 40px;
}

.project-description {
  color: var(--subtext-color);
}

.project-tech {
  list-style: none;
  padding: 0;
}

.project-tech > li {
  display: inline-block;
  margin-top: 8px;
  margin-right: 3px;
  padding: 2px 5px;

  border: 1px solid var(--highlight-color);
  border-radius: 5px;
  color: var(--highlight-color);

  font-size: 0.65em;
}
