:root {
    --header-bg-dark: url("../images/sunset-fade-min.jpeg");
    --header-bg-light: url("../images/sunrise-min.jpg");
    --bg-color-dark: #010412;
    --bg-color-dark-rgb: 1, 4, 18;
    --bg-color-light: #ffffff;
    --bg-color-light-rgb: 255, 255, 255;
    --ft-color-dark: #121321;
    --ft-color-light: #F7F4EF;
    --text-color-dark: #AFAFAF;
    --text-color-light: #010412;
    --primary-color: #B06353;
    --toggle-on: 1;
    --toggle-off: 0.3;
    --mode-transition-duration: 500ms;

    --color-mode: 'light';
    --header-bg: var(--header-bg-light);
    --bg-color: var(--bg-color-light);
    --shadow-color-rgb: var(--bg-color-dark-rgb);
    --ft-color: var(--ft-color-light);
    --text-color: var(--text-color-light);
    --toggle-light: var(--toggle-off);
    --toggle-dark: var(--toggle-on);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: 'dark';
    }

    :root:not([data-user-color-scheme]) {
        --header-bg: var(--header-bg-dark);
        --bg-color: var(--bg-color-dark);
         --shadow-color-rgb: var(--bg-color-light-rgb);
        --ft-color: var(--ft-color-dark);
        --text-color: var(--text-color-dark);
        --toggle-light: var(--toggle-on);
        --toggle-dark: var(--toggle-off)
    }
}

[data-user-color-scheme='dark'] {
    --header-bg: var(--header-bg-dark);
    --bg-color: var(--bg-color-dark);
    --shadow-color-rgb: var(--bg-color-light-rgb);
    --ft-color: var(--ft-color-dark);
    --text-color: var(--text-color-dark);
    --toggle-light: var(--toggle-on);
    --toggle-dark: var(--toggle-off)
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-color);

    -webkit-transition: background-color 500ms ease; 
    transition: background-color 500ms ease; 
}

.no-margin {
    margin: 0;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: var(--header-bg);
    background-position: center bottom;
    background-size: cover;

    -webkit-transition: background-image 500ms ease; 
    transition: background-image 500ms ease; 
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

#name-logo {
    margin: 30px 80px;
}

#nav-list {
    list-style: none;
    margin: 70px 100px 0 0;
}

#nav-list li {
    display: inline;
    margin: 0 10px;
}

#nav-list li a {
    color: var(--text-color);
}

#nav-list li a:hover {
    color: var(--primary-color);
}

.container {
    max-width: 800px;
    padding-top: 70px;
    padding-bottom: 10px;
    color: var(--text-color)
}

.title {
    color: var(--primary-color);
}

.job-card {
    margin: 30px 0 60px 0;
}

.job-card-last {
    margin: 30px 0 0 0;
}

.company-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}

.job-description {
    margin-left: 80px;
}

.job-role {
    color: var(--primary-color);
    font-size: 1.5em
}

.job-detail {
    opacity: 0.6;
    font-size: 1em
}

.job-content {
    margin-left: 80px;
    padding-top: 8px;
}

.card {
    background-color: var(--ft-color);

    -webkit-transition: background-color 500ms ease; 
    transition: background-color 500ms ease; 
}

.card-image {
    height: 60%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content {
    padding: 12px 24px !important;
}

.card-subtitle {
    opacity: 0.6;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(var(--shadow-color-rgb),0.25), 0 5px 5px rgba(var(--shadow-color-rgb),0.22);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 200ms ease-is;
    -ms-transform: scale(1.02);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 200ms ease-in;
    transform: scale(1.02);
}

#footer {
    width: 100%;
    height: 200px;
    margin-top: 70px;
    background-color: var(--ft-color);

    -webkit-transition: background-color 500ms ease; 
    transition: background-color 500ms ease; 
}

.mode-icon {
    font-size: 9px;
    cursor: pointer;
    margin-right: 5px;
}

.fa-border {
    border-radius: .2em;
    border: .09em solid var(--text-color);

    -webkit-transition: border-color 500ms ease; 
    transition: border-color 500ms ease;
}

#light-toggle {
    opacity: var(--toggle-light);
    -webkit-transition: opacity 500ms ease; 
    transition: opacity 500ms ease;
}

#dark-toggle {
    opacity: var(--toggle-dark);
    -webkit-transition: opacity 500ms ease; 
    transition: opacity 500ms ease;
}

@media only screen and (max-width: 600px) {
    .mobile-hidden {
        display: none !important;
    }

    .header-bar {
        justify-content: center
    }

    #name-logo {
        margin: 30px 0;
    }

    .job-content {
        margin-left: 0;
    }
    
}
