.theme-8008 {
  --bg-color: #333a45;
  --highlight-color: #f44c7f;
  --icon-color: #e9ecf0;
  --text-color: #e9ecf0;
  --subtext-color:  #939eae;
}

.theme-9009 {
  --bg-color: #eeebe2;
  --highlight-color: #7fa480;
  --icon-color: #c87e74;
  --text-color: #080909;
  --subtext-color: #99947f;
}
