/* {
    outline: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top: 1px solid #94618E;

}

.row {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.col-1 {
    width: 16.67%;
    padding: 1%;
}

.col-2 {
    width: 33.33%;
    padding: 1%;
}

.col-3{
    width: 50%;
    padding: 1%;
}

.col-4 {
    width: 66.67%;
    padding: 1%;
}

.col-5 {
    width: 83.33%;
    padding: 1%;
}

.col-6 {
    width: 100%;
    padding: 1%;
}