* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
}

/* Navigation */
nav {
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	background-color: #EDE4E5;
	border-bottom: 3px solid #C6C1C0;

}

nav h1 {
	width: 25%;
	margin: 10px 0;
	padding-left: 2%;
	overflow: hidden;
	float: left;	
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;	
    color: #595B58;
}

.web-nav ul {
    margin: 0;
    margin-right: 15px;
    padding: 0;    
    list-style-type: none;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.web-nav li {
	display: inline-block;
}

.web-nav li a {
    display: block;    
    padding: 14px 16px;
    color: #595B58;
    text-align: center;
    text-decoration: none;
}

.web-nav li:first-child {
	display: none;
}

.web-nav li a:hover:not(.active){
	color: 	#800000;
}

.web-nav .active {
	color: 	#670000;
}

.container {
	margin-top: 13px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #595B58;
    margin: 4px 0;
    transition: 1s;
}

/* Rotate first bar */
.change .bar1 {
	width: 30px;
    -webkit-transform: rotate(-45deg) translate(-2px, 8px) ;
    transform: rotate(-45deg) translate(-2px, 8px);
}

.change .bar2 {
    opacity: 0;
    -webkit-transform: translate(5px, 0px) ;
    transform: translate(5px, 0px);
}

/* Rotate last bar */
.change .bar3 {
	width: 30px;
    -webkit-transform: rotate(45deg) translate(-2px,-8px) ;
    transform: rotate(45deg) translate(-2px, -8px) ;
}

.dropdown {
	width: 100%;
	height: 0px;
	top: 50px;
	left: 0;	
	position: fixed;
	z-index: 1;    
	background-color: #EDE4E5;
	opacity: 0.8;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}

.dropdown-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
}

.dropdown a {
	padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;    
    font-family: 'Montserrat', sans-serif;
    display: block; 
    transition: 0.3s;
}

.dropdown li a:hover:not(.active){
	color: 	#800000;
}

.dropdown .active {
	color: 	#670000;
}

.header {
	margin-top: 50px;
	height: calc(100vh - 50px);
	background-color: red;
}

/* Mobile or shrink screen Nav*/
@media only screen and (max-width: 700px) {
	.web-nav ul li:first-child{
		display: block;
	}
	.web-nav ul li:not(:first-child) {
		display: none;
	}
}
