body{
    font-family: 'Montserrat', sans-serif;
    font-size:100%;
}

#header {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    background-color: #94618E;
}

.title {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 5em;
    font-weight: 600;
}

.seperator {
    margin: 5px !important  ;
}

.subtitle {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
}

.subheader {
    font-weight: 500;
    font-size: 2em;
    color: #49274A;
}

.content {
    font-weight: 300;
}

.sidepic {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

td, th {
    width: 50%;
    text-align: left;
    padding: 8px;
}

.project {
    width: 100%;
    text-align: center;
}

.project_sep {
    width: 0;
    padding: 0;
    margin: 2%;
    border-left: 1px solid #94618E;
}

.projecttitle{
    height: 2.6em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    word-wrap: break-word;
}

.projectimage {
    padding-left: 10%;
    padding-right: 10%;
    -webkit-border-radius: 40%;
    border-radius: 40%;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #49274A;
}

@media only screen and (max-width: 995px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    body {
        font-size:115%;
    }

    .row {
        width: 100%;
        margin: 0px;
    }

    .projectimage {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 700px) {

    .sidepic {
        width: 0px;
        display: none;
    }

    .col-4 {
        width: 100%;
    }

    .col-2 {
        width: 100%;
    }

    .project {
        width: 100%;
    }

    .projectimage {
        width: 60%;
    }

    .project_sep {
        display: none;
    }

    .project_row {
        display: block;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size:115%;
    }

    .title {
        font-size: 3em;
    }

    .subtitle {
        font-size: 0.78em;
    }

}